<mat-toolbar>
  <div class="flex justify-content-between align-items-center" fxFill>
    <button mat-icon-button (click)="toggleExpanded()">
      <mat-icon>menu</mat-icon>
    </button>
    <img [src]="'assets/logo/LogoMuscleHustleSekundär.PNG'" >


    <div class="flex justify-content-between align-items-center">
      <span style="padding-right: 5px;" fxHide.xs="true">{{ currentUserType + " " + currentUser }}</span>
      <button mat-flat-button routerLink="settings">
        <mat-icon class="m-0" fontIcon="person"></mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
