:root
{
  --musclehustle-primary: #B0131E;
  --musclehustle-primary-light: #D01622;
  --musclehustle-primary-dark: #8A0F17;
  --musclehustle-secondary: #1EABF7;
  --musclehustle-secondary-light: #3AB5F8;
  --musclehustle-secondary-dark: #228FCF;
  --musclehustle-dark: #1C1C1B;
  --musclehustle-grey-light: #e6e6e6;
  --musclehustle-grey-dark: #ccc;
}

