<h1 mat-dialog-title style="color: #000 !important;">KlientIn-PDF herunterladen</h1>

<div mat-dialog-content>
  <table>

    <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>E-Mail</th>
      <th>Passwort</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>{{client.firstname}}</td>
      <td>{{client.lastname}}</td>
      <td>{{client.email}}</td>
      <td>{{password}}</td>
    </tr>
    </tbody>

  </table>
</div>

<div mat-dialog-actions>

  <button mat-button (click)="cancel()">Abbrechen</button>

  <button mat-stroked-button (click)="download()" cdkFocusInitial>
    <mat-icon>get_app</mat-icon>Download PDF
  </button>

</div>
