<mat-toolbar>
  <div class="flex justify-content-between align-items-center" fxFill>
    <button mat-icon-button (click)="toggleExpanded()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="flex flex-column align-items-center justify-content-center">
      <img [src]="'assets/logo/LogoMuscleHustleSekundär.PNG'" >
      <p class="m-0" style="color: white">KlientInnen-Oberfläche</p>
    </div>


    <div class="flex justify-content-between align-items-center">
      <span style="padding-right: 5px;" fxHide.xs="true" class="username">{{ authService.user.firstname + " " + authService.user.lastname }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="user-icon">person</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><mat-icon>settings</mat-icon>Account</button>
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Log out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
