<div class="primary-card-container">
  <mat-card>
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill class="card-header">
      <mat-card-title>
        <h1>Übungsmanagement</h1>
      </mat-card-title>

      <div>
        <button mat-flat-button class="primary-button" [routerLink]="['create']">
          Übung hinzufügen
        </button>
      </div>
    </mat-card-header>

    <mat-card-content class="pt-2">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px;"> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
          <td mat-cell *matCellDef="let element"> {{exerciseTypeCast(element.type)}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="muscleGroups">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Muskelgruppen </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip disabled *ngFor="let m of element.muscleGroups" style="opacity: 1;">{{m.name}}</mat-chip>
          </td>
        </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 70px;"> Bearbeiten </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="edit" (click)="edit(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 70px;"> Löschen </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button class="delete" (click)="delete(element)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
  </mat-card>
</div>
