<mat-drawer-container class="example-container mat-typography" autosize [ngClass]="{'expanded': (sidenavService.isExpanded$|async)}">
  <mat-drawer #drawer mode="side" disableClose="true" opened="true">
    <div class="logo-container">
      <img [src]="(sidenavService.isExpanded$|async) ? '../../../assets/logo/LogoMuscleHustle.PNG' : '../../../assets/logo/LogoRed.png'">
    </div>


    <mat-nav-list>
      <mat-list-item routerLink="schedule" routerLinkActive="active" (click)="onClick()">
        <mat-icon matListItemIcon>event</mat-icon>
        <h4 matListItemTitle>Trainingsplan</h4>
      </mat-list-item>
      <mat-list-item routerLink="exercises" routerLinkActive="active" (click)="onClick()">
        <mat-icon matListItemIcon>fitness_center</mat-icon>
        <h4 matListItemTitle>Übungen</h4>
      </mat-list-item>
      <mat-list-item routerLink="clients" routerLinkActive="active" (click)="onClick()">
        <mat-icon matListItemIcon>groups</mat-icon>
        <h4 matListItemTitle>Klienten</h4>
      </mat-list-item>
      <mat-list-item routerLink="settings" routerLinkActive="active" (click)="onClick()">
        <mat-icon matListItemIcon>settings</mat-icon>
        <h4 matListItemTitle>Einstellungen</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <app-top-bar></app-top-bar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
